
*{
margin: 0; padding: 0;
}
body{
    box-sizing: border-box;
    font-family:   'Source Code Pro';
}
*::selection{
    background: #e02121;
    color: #fff;
}
/*same attribute*/
p,h1,h2,h3,span{
    font-family: Arimo;
}
span{ color: #e02121;}
.fa{
    color: #740c0cfa !important;
}
.main-title{
    text-align: center;
    border: 2px solid #e02121;
    position: relative;
    width: fit-content;
    margin: 0 auto 40px ;
    color: #333;
 z-index: 1;
    padding: 10px 15px;
   /* filter:  grayscale(65%) brightness(50%) sepia(68%) hue-rotate(-50deg) saturate(514%) contrast(2.3); */
}
.main-title::before,
.main-title::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e02121;
}
.main-title::before{
    left: -15px;
}
.main-title::after{
    right: -15px;
}
.main-title:hover::before{
    z-index: -1;
    animation: left-move 1.1s linear forwards;
}
.main-title:hover::after{
    z-index: -1;
    animation: right-move 1.1s linear forwards;
}


.main-title:hover{
    color: #fff;
    border: 2px solid #fff;
    transition-delay: .5s;
    cursor: pointer;
}



/*start  header */
header{
    background-image: url("../pic/coff.jpg");
    background-repeat:no-repeat ;
   background-position: center center;
    background-size: cover;
   position: relative;
    height: 100vh;
    overflow: hidden;
   
   }
   
   header .cover{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 100%;
   background-color: rgba(255, 255, 255, .1);
   }
   
   header .cover h1{
       letter-spacing: 1.8px;
       font-size: 2.8em;
       color: #000;
       font-weight:bolder;
       margin-bottom: 20px;
       line-height: 1.3em;
   }

   
   .hvr-buzz-out.header{
       padding: 15px 10px;
       border: 1px solid #e02121;
       margin-top: 20px;
       transition: .3s;
   }
   .hvr-buzz-out.header:hover{
       background-color: #fff;
       color: #e02121;
       border-color: #e02121;
   }
   /*end header  */
/*start navbar */
nav{
  display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    color: black;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
    margin:  0;
}
 #logo{
     width: 200px;
     font-size: 23px;
    padding-left: 10px;
    line-height: 48px;
}
    nav ul{
        display: flex;
        list-style: none;
        height: 100%;
        margin: 0;padding: 0;
        max-width: 100%;
        justify-content: center;
    }
nav ul li{
    display: inline-block;
    height: 100%;
    width: 130px;
    margin: 0;padding: 0;
}
nav li a{
display: block;
width: 100%;
height: 100%;
padding: 15px 0;
text-align: center;
transition: all .5s ease-in-out;
}
nav li a:hover{
    background-color :#e02121c7;
    color: #fff;
}

/*end navbar */
/* start first photo section*/
.first-sec{
    padding: 40px;
    margin: 40px auto;
}
.first-sec .container{
    width: 97%;
    margin: auto;
}
.craft{
    font-family: "Noto Sans TC";
    text-align: center;
    font-size: 33px;
    margin-bottom: 70px;
}

.three-photo{
    margin-bottom: 80px;
    text-align: center;     
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}
.three-photo .pho{
    position: relative;
    z-index: 1;
    margin: auto auto;
}
.three-photo .pho .overlay{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(0,0, 0, .8);
    line-height: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0px 0px ;
    opacity: 0;
    transition: all .5s linear;
}
.three-photo .pho:hover .overlay{
opacity: 1;
}
.three-photo .pho img{
height: 200px;
overflow: hidden;
border-radius: 10px 10px 0px 0px;
}
.three-photo .pho h3{
    margin-top: -4px ;
    color: #fff;
    line-height: 40px;
    background-color: #e02121;
    border-radius: 0px 0px 10px 10px;
}
.three-photo .pho p{
color: #eee;
margin: 3px;
}
.craft .box{
display: flex;
justify-content: center;
}
/* end first photo section*/
/* start 1*photo&text 50% */
.second-section{
padding: 40px;
margin: 40px auto;
}
.second-section .container{
display: flex;
width: 95%;
margin: auto;
}
.second-section .pic{
width: 50%;
}
.second-section .pic img{
width:100% ;
height: 100%;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
.second-section .text{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50%;
    background-color: #e02121;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
    gap: 25px;
    line-height: 1.8;
    padding: 3%;
    font-size: 18px;

}

.second-section .text p{
letter-spacing: .05rem; 
}

.hvr-buzz-out.white{
    background-color: #fff;
    z-index: 1;
    color: #e02121;
    padding: 7px ;
    font-weight: bold;
    width: 130px;
    transition: .3s;
    border: 1px solid #e02121;
    margin-top: 15px;
}
.hvr-buzz-out.white:hover{
    background-color: #e02121;
    color: #fff;
    border: 1px solid #fff;
}

/* end 1*photo&text 50% */
/*start four divs */
.third{
    padding: 40px;
    margin: 40px auto;
}
.third .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    margin: auto;
    gap: 30px;
    font-size: 18px;
    flex-wrap: wrap;
}
.third .container .part{
    width: 45%;
    margin: auto;
    overflow: hidden;
    
    }
    .third .container div:nth-child(1),
    .third .container div:nth-child(4){
        width: 47%;
    }
 
.third .part img{
width: 100%;
border-radius: 10px;
transition: .5s;
overflow: hidden;
}

.third .part  img:hover{
    transform: rotate(1deg) scale(1.1);
}

.third .container h2{
    border-bottom: 2px dotted #a5a4a4;  
    font-size: 26px;
    padding-bottom: 5px;
    line-height: 2.3rem;
}
.third .container p{
    line-height: 1.9rem;
    font-size: 19px;
    text-align: justify;
    padding-top: 10px;
    color: #333;
}

/* start fourth section */
.fourth-section{
    padding: 40px;
    margin: 40px auto;
    }
    .fourth-section .container{
    display: flex;
    width: 95%;
    margin: auto;
    }
    .fourth-section .pic{
    width: 50%;
    }
    .fourth-section .pic img{
    width:100% ;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    }
    .fourth-section .text{
        width: 50%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #e02121;
        color: #fafafa;
        display: flex;
        flex-direction: column;
        padding-left: 4%;
        padding-right: 2%;
        justify-content: center;
        gap: 25px;
        line-height: 1.8;
        font-size: 18px;
        padding: 3%;
    }
    .fourth-section .text p{
    letter-spacing: .05rem; 
    }
 
    

/* end fourth section */

/*  last section & footer */
.content{
    padding: 40px;
    margin: 40px auto;
}
.content .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    gap: 40px;
}

.content h2{
    padding-bottom: 10px;
}
.content .container .label{
    width: 42%;
    margin: auto;

}
.content .container label{
    margin: 8px 0px;
}
.map {
    width: 40%;
    margin: auto;
    height: 460px;
}
.map iframe{
    width: 100%;
    height: 100%;
}
.content .container input{
    width: 100%;
    height: 45px;
    margin:  5px;
    padding: 0 20px;
    opacity: .7;
    outline:none;
    border: 1px solid #f4f4f4 ;
    -webkit-box-shadow: 5px 5px 5px 5px #f4f4f4;
    -moz-box-shadow:  5px 5px 5px 5px #f4f4f4;
    box-shadow:  5px 2px 5px 5px #f4f4f4;
    
}
.content .msg{
    padding: 10px 0 ;
}
.content textarea{
    border: 1px solid #f4f4f4 ;
    box-shadow:  5px 2px 5px 5px #f4f4f4;
    opacity: .5;
    padding: 20px;
    width: 100%;
}
.content .container input{
    margin: 16px auto;
}

.hvr-buzz-out {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    padding: 20px 15px;
    margin-top: 35px;
    text-align: center;
    font-weight: bold;
    background-color: #e02121;
    color: #fff;
    width: 200px;
} 
.hvr-buzz-out :hover{
    background-color: #fff;
    color: #e02121;
    border: 2px solid #e02121;
}
/* subscribe*/
.last{
    padding: 50px;
    margin: 40px auto;
    margin-bottom: 0;
    background-color: #e02121;
}
.last .holder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 90%;
    margin: auto;
}
.last h2{
    color: #fff;
}
.last .parent{
    position: relative;
}
.last input{
    width: 270px;
    height: 40px;
    padding: 3px 10px;
   outline: none;
    border: none;
    color: #b6b1b1 ;
    border-radius: 20px;
}

.last textarea{
    padding: 15px;
}
.last .btn-sub{
    height: 40px;
    background-color: #e02121;
    border: 1px solid #fff;
    color: #fff;
    width: 100px;
    height: 100%;
    font-weight: bold;
    position: relative;
    color: #fff;
    border-color: #fff;
    background: linear-gradient(to right,#fff 50%,#e02121 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: .3s;
    position: absolute;
    border-top-right-radius: 20px;
    right: 0px;
    border-bottom-right-radius: 20px;
}

.last .btn-sub:hover{
    background-position: left bottom;
    color: #e02121;
    border-color: #ddd;
    cursor: pointer;
    background-color: #b6b1b1;
}



/*footer*/

.footer{
 padding: 30px 70px;
 margin-top: 40px;
margin: auto;
}
.footer .holder{
  display: flex;
text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: auto;
    
}
.footer h2{ letter-spacing: .2em; font-size: 2em;}

.footer h4{
    color: #6b6b6b;
}

a{text-decoration: none; color: black;}

.footer .red{color: #e02121;}

.footer ul,li{
    list-style: none;
    float: left;
    margin: 0 6px;
   
}
.footer .icon {
    margin: auto;
}

@keyframes left-move {
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        border-radius: 0;
        left: 0;
        width: 70%;
        height: 100%;
    }
}
@keyframes right-move {
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        border-radius: 0;
        right: 0;
        width: 70%;
        height: 100%;
    }
}

@keyframes left-move {
    50%{
        left: 0;
        width: 10px;
        height: 10px;
    }
    100%{
        border-radius: 0;
        left: 0;
        width: 80%;
        height: 100%;
    }
}
@keyframes right-move {
    50%{
        right: 0;
        width: 10px;
        height: 10px;
    }
    100%{
        border-radius: 0;
        right: 0;
        width: 80%;
        height: 100%;
    }
}
