
/*---mobile----*/

@media (max-width:737px) { 
    #logo {
        width: 200px;
        font-size: 26px;
        margin: auto auto;
    }
    #ul {
        border-top: 2px solid #e02121;
        width: 100%;
    }
    header .cover h1 {
        letter-spacing: 1.6px;
        font-size: 2.2em;
    }
    /* end nav bar &heading*/
    /* start first photo section*/
    .craft {
        font-size: 26px;
    }
    .three-photo {
        margin: auto auto;
        display: block;
        width: 380px;
    }
    .three-photo .pho {
        margin-bottom: 40px;
        width: 330px;
    }
    .three-photo .pho img {
        max-width: 330px;
        width: 330px;
    }


/* end first photo section*/

/* start 1*photo&text 50% second section */


    .second{
       max-width: 380px;
    }
.pic{
    max-width: 380px;
    justify-content: center;
}
.pic img {
    width: 100%;
    height: 260px;
margin-bottom: 10px;
}
.overl{
    position: static;
    width: auto;
    max-width: 380px;
    background-color:#e02121;
    height: 360px;
    text-align: center;
    color: #fff;
    padding: 20px;
  
}
.overl h2 {
    font-size: 18px;
    color: #fff;
    line-height: 2rem;
    border-bottom: 2px solid #fff
}
.overl p {
    font-size: 14px;
    line-height: 1.5rem;
    padding: 20px 0;
}
 .btn2,.btn-sub{
    width: 130px;
}

/* end 1*photo&text 50% */

/*start four divs third section */

.container{width: 90%; margin: 50px auto;  }
    
    .third{
        grid-template-columns: 1fr  ;
        grid-gap: 20px ;
    }
    .part2,
     .part4{
        max-width: 380px;
        margin: auto auto;
}
    .third .part img{
       width: 100%;
    }
    .third h2{
        border-bottom: 1px dotted #000;  
        font-size: 26px;
        padding-bottom: 8px;
        text-align: -webkit-center;
    }
    .third p{
        line-height: 1.6rem;
    }
    
    .part {
        justify-content: center;
    }
    
    /*divs content text*/
    
    .part1,
    .part3{
    padding: 20px;
    line-height: 20px;
    transition: none;
    }
    .part1:hover,
    .part3:hover {
        border: none;
    }
    /*end four divs */


/*  last section & footer */
.content{
    grid-template-columns: 1fr ;
    justify-content: center;
}
.content h2{
    padding-bottom: 10px;
}
.label{
    display: grid;
    justify-content: center;
}
.content .map{
    display: grid;
    align-content: center;
    margin-top: 35px;
    max-width: 280px;
   
}
.map iframe{
    max-width: 360px;
}
.content button{
   transition: none;
}


/* subscribe*/
.last{justify-content: center; text-align: center; padding: 20px 0px;}

.last h2{
    display: block;
    font-weight:lighter;
    margin-bottom: 20px;
    font-size: 28px;
    margin-right: 0;
}
.last input{
    width: 185px;
    height: 30px;
    text-align: center;
}

.last .btn-sub{
    height: 46px; 
    text-align: center;
    margin-top: 10px;
}
/*end  subscribe*/

/*start footer*/   
.footer{
    display: grid;
    height: 140px;
    grid-template-columns: 170px ;
    gap: 0px ;
    align-items: center;
    text-align: center;
}

.footer h2{ 
    letter-spacing: .1em; 
    font-size: 1.4em;}

.footer h4{
    font-size: .9em;
    position: static;
}

.footer .icon{
    position: static;
    margin: auto;
}
.footer ul,li{
    margin: 0 3px;
}
.footer a:hover{
    color: blue;
}
/*end footer*/
}


   /* -----ipad----- */

@media (min-width:738px) and (max-width:992px) {
    .container{width: 100%;}
/*navbar & heading */
#logo{
        font-size: 26px;
        margin: auto auto;
}
#ul{
        border-top: 2px solid #e02121;
        width: 100%;
}    
/*end nav*/


/* start first photo section*/   
.p1{grid-area: p1;}
.p2{grid-area: p2;}
.p3{grid-area: p3;}
.three-photo {
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'p1 p1 p3 p3'
        '. p2 p2 .';
}
.three-photo .pho,
.three-photo .pho img{
    max-width: 260px;
}


/* end first photo section*/



/* start 1*photo&text 50% */

.second{
    max-width: 650px;
}
.pic{
    max-width: 650px;
        height: 450px;
}
.pic img {
        width: 100%;
        height: 450px;
    }

.overl {
    width: 100%;
    height: 440px;
    padding: 10px 0px 0px 0px;
    
}
.overl h2{
    font-size: 22px;
    padding-top: 15px ;
}
.overl p {
    font-size: 18px;
    line-height: 2.2rem;
    color: #fff;
    padding: 18px;
}

 .btn2,.btn-sub{
    width: 140px;
  
}


/* end 1*photo&text 50% */


.container{width: 70%;
    margin: 80px auto 0px;}
    
    .third{
        margin-top: 0px;
        grid-template-columns: 1fr  ;
        grid-gap: 20px ;
    }
    .part2,
    .part4{
        max-width: 650px;  
    }
    .third .part img{
        width: 100%;
    }
    .third h2{
        border-bottom:none;  
        font-size: 32px;
        padding-bottom: 8px;
        text-align:inherit;
    }
    .third p{
        line-height: 1.6rem;
    }
    
    .part {
        justify-content: center;
    }
    /*divs content text*/
    .part1,
    .part3{
    padding: 20px;
    line-height: 20px;
    transition: none;
    justify-content: center;
    }
    .part1:hover,
    .part3:hover {
        border: none;
    }
   



/*end four divs */



/*  last section & footer */
.content{
    grid-template-columns: 1fr  ;
    margin-top: 50px;
   
}

.label{
    display: grid;
    justify-content:start;
}
.content .map{
    display: grid;
    align-content: center;
    justify-content:start;
    margin: 35px 0px;
}

.subscribe{
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'heading heading'
    'input button';
    justify-content: center;
}
.last h2{
    font-size: 31px;
    grid-area: heading;
   
}
.last input{
    width: 215px;
    grid-area: input;
    margin-top: 10px;
}

.last .btn-sub{
    height: 46px; 
    transition: none;
    text-align: center;
    margin-top: 10px;
    grid-area: button;
}
/*footer*/

.footer h2{ letter-spacing: .1em; font-size: 1.6em;}

.footer h4{
    right: 10px;
    font-size: .9em;
}
.footer .icon{
    left: 10px
}
.footer ul,li{
    margin: 0 3px;
}
/*end footer*/

}

 /* -----tab----- */

@media (min-width:993px) and (max-width:1200px) {
    
    .container{
        width: 83%;
    }
/*start navbar*/
#logo{
    font-size: 26px;
    margin: auto auto;
}
#ul{
    border-top: 2px solid #e02121;
    width: 100%;
}    
/*end navbar*/

/* start first photo section*/
.three-photo {
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
}

.three-photo .pho img,
.three-photo .pho 
    {
        max-width: 275px;
    }

/* end first photo section*/
/* start 1*photo&text 50% */
.second{
    max-width: 850px; 
    overflow: hidden;
}
.pic{
    max-width: 850px;
}
.pic img {
    max-width: 100%;
}
.overl{
    height: 380px;
}
.overl h2{
    font-size: 19px;
}
.overl p{
    font-size: 14px;
    line-height: 2.3rem;
}
/* end 1*photo&text 50% */

.third{
    grid-gap: 15px ;
}
.part2,
.part4{
    max-width: 420px;   
}
.third .part img{
    width: 100%;
    height: 350px;
}
.third h2{
    border-bottom: 1px solid #000;
    font-size: 26px;
    line-height: 2rem;  
}
.third p{
    font-size: 15px;
    line-height: 1.5rem;
    padding-right: 15px;
}

.part {
    display: grid;
    align-content: center;
}
/*divs content text*/
.part1,
.part3{
padding: 15px 15px 15px 0px;
transition: none;
}
.part1:hover,
.part3:hover {
    border: none;
}
/*end four divs */



/*  last section & footer */
.content{
    grid-template-columns: 1fr  1fr;
    margin-top: 50px;
   
}
.label{
    display: grid;
}
.content .map{
    margin: 35px 0px;
}
.content button{
   transition: none;
}
textarea{
    width: 285px;
}
/*end contact*/
}