
/*---mobile----*/
@media(max-width:500px){
    #logo {
        width: 100%;
        font-size: 25px;
        margin: auto auto;
        text-align: center;
    }
    #ul {
        border-top: 2px solid #e02121;
        width: 100%;
    }
    header .cover h1 {
      font-family:Arial, Helvetica, sans-serif;
      font-size: 23px;
    }
    nav #ul {
    display: block;
    }
    nav #ul {
        display: block;
        text-align: center;
        width: 100%;
        margin: 10px auto;
    }
    nav li,nav ul{
        clear: both;
    }
    nav ul li {
    width: 100%;
    }
    /* end nav bar &heading*/
    header{
        background-image: none;
        background-color: #fafafa;
    }
    header .cover{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(46%);
        transform: translate(-50%, 12%);
        height: 100vh;
        background-color: transparent;
    }
    .cover .butnh{
        background-color: #e02121;
        color: #fff;
        width: 200px;
        font-size: 18px;
        font-weight:normal;
    }
    .third .container p {
    font-size: 16px;
    }
    .map {
        width: 97%;
        height: 340px;
    }
}
@media (max-width:737px) { 
    #logo {
        width: 100%;
        font-size: 26px;
        margin: auto auto;
        text-align: center;
    }
#ul{
        border-top: 2px solid #e02121;
        width: 100%;
    }    
    .craft {
        font-size: 26px;
    }

/* start 1*photo&text 50% second section */
.second{
max-width: 380px;
}
.pic{
    max-width: 380px;
    justify-content: center;
}
.pic img {
    width: 100%;
    height: 260px;
margin-bottom: 10px;
}
.overl{
    position: static;
    width: auto;
    max-width: 380px;
    background-color:#e02121;
    height: 360px;
    text-align: center;
    color: #fff;
    padding: 20px;
}
.overl h2 {
    font-size: 18px;
    color: #fff;
    line-height: 2rem;
    border-bottom: 2px solid #fff
}
.overl p {
    font-size: 14px;
    line-height: 1.5rem;
    padding: 20px 0;
}
/*start footer*/   
.footer a:hover{
    color: blue;
}
}

   /* -----ipad----- */
   @media (max-width:991px){
    .second-section .pic{
        display: none;
    }
    .second-section .text{
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 3%;    
        align-items: center;
    }
    .second-section .text button{
        margin: auto;
        margin-bottom: 20px;
    }
    .fourth-section .pic{
        display: none;
    }
    .fourth-section .text{
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 3%;   
        align-items: center; 
    }
    .fourth-section .text button{
        margin: auto;
        margin-bottom: 20px;
    }
    .content .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        width: 98%;
        margin: auto;
    }
  
    .content .container .label{
        width: 90%;
    }
    .map {
        width: 90%;
        height: 460px;
    }
    .content .container label{
        margin:13px 0px;
    }
    .content .container input{
        margin: 16px auto;
    }
    

}
@media (max-width:767px) {
  
    .last .holder{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }
    .last .holder h2{
        font-size: 20px;
    }
     
    .footer .holder{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        
    }
    .content .container input {
        padding-left: 4px;
        padding-right: 0;
    }
    .content .container textarea {
        padding-left: 4px;
        padding-right: 0;
    }
    .hvr-buzz-out {
        display: block;
        width: auto;
    }
    .content .container input{
        margin: 16px auto;
    }
    .map {
        width: 95%;
        height: 360px;
    }



}
@media (max-width:917px) {

.third .container h2 {
    font-size: 22px;
}
.third .container{
    gap: 15px;
}
    .third .part img{
        display: none;
    }
    .third .container div:nth-child(1),
    .third .container div:nth-child(4){
        width: 90%;
        margin: auto;
        }
} 
@media (min-width:738px) and (max-width:992px) {
#logo{
        font-size: 26px;
        margin: auto auto;
}
#ul{
        border-top: 2px solid #e02121;
        width: 100%;
}    
}
 /* -----tab----- */
@media (min-width:993px)  {
 
#logo{
    font-size: 26px;
    margin-left: 30px;
}
header nav{
    border-top: 2px solid #e02121;
    width: 100%;
}    
}

@media(max-width:500px){
    .first-sec,
    .second-section,
    .third,
    .fourth-section,
    .content{
  padding: 30px;
    }
      .container{
          width: 99%;
          margin: auto;
          padding:15px 0;
      }

}
