
/*---mobile----*/

@media (max-width:767px) { 
    /* nav bar &heading*/
#logo{
    width: 200px;
    font-size: 26px;
    margin: auto auto;
}
#ul{
    border-top: 2px solid #e02121;
    width: 100%;
}    
nav ul li{width: 70px;}

nav ul li a{padding: 15px 5px; } 

header .cover h1{
    letter-spacing: 1.6px;
    font-size: 2.2em;

}

/*  end nav bar &heading*/

/* start first photo section*/
.craft{
    font-size: 26px;
}

.three-photo{
    margin: auto auto;
    display: block;
}

.three-photo .pho img{
    width: 100%;
}

.three-photo .pho h3{
        margin: 15px 0;
}
.three-photo .pho p{
        padding-right:  125px;
        padding-left:  125px;
}

/* end first photo section*/

/* start 1*photo&text 50% second section */

.second{
    display: grid;
     grid-template-columns: 450px ;
     justify-content: center;
     margin-top: 20px;
}

 .second .pic img{
        width: 450px; 
        height: 450px;
     }

.second .half{
    height: 450px;
}
.second .tex {
    padding-top: 75px;
}
/* end 1*photo&text 50% */

/*start four divs third section */

.third{
 
    grid-template-columns: 430px ;
    grid-gap: 50px ;
    justify-items: center;
    justify-content: center;
}
.third .part img {
    width: 430px;
}
.third .part3 h2 {
    padding-top: 20px;
}
.third .part3 {
    padding-right: 35px;
}
/*end four divs */

/*start fourth section*/
.four {
    margin-top: 70px;
}

.second .pic{
  
    margin-top:50px ;
    height: 500px;
}
.four .left {
    padding-left: 75px;
    height: 450px;
}
/*end four*/

/*  last section & contact */
.content{
    margin: 50px 0px 70px 60px;
    display: flex;
    flex-wrap: wrap;
}
.content label{
    display:block ;
    width: 100%;
}
.label :nth-child(4){
    margin-top: 40px;
}
.content .rap{
    position: absolute;
    top: 150px;
    left: 0px;
}
.content .map{
    width: 100%;
    padding-left: 0px;
    padding-top: 50px;
}

/* subscribe*/
.last{justify-content: left; max-width: 767px;}

.last h2{
    display: inline-block;
    margin-left: 20px;
    font-weight:lighter;
    margin-bottom: 20px;
    margin-right: 0;
}
.last input{
    width: 200px;
    height: 30px;
    margin-left: 20px;
}

.last .btn-sub{
    height: 38px; 
    display: block;
    margin:10px 0 0 20px;
}
/*end  subscribe*/

/*start footer*/   
.footer{
    display: grid;
    height: 140px;
    grid-template-columns: 170px ;
    gap: 0px ;
    align-items: center;
    text-align: center;
}

.footer h2{ 
    letter-spacing: .1em; 
    font-size: 1.4em;}

.footer h4{
    font-size: .9em;
    position: static;
}

.footer .icon{
    position: static;
    margin: auto;
}
.footer ul,li{
    margin: 0 3px;
}
.footer a:hover{
    color: blue;
}
/*end footer*/
}


   /* -----ipad----- */

@media (min-width:768px) and (max-width:992px) {
/*navbar & heading */
#logo{
        font-size: 26px;
        margin: auto auto;
}
#ul{
        border-top: 2px solid #e02121;
        width: 100%;
}    
/*end nav*/


/* start first photo section*/   
.three-photo{
        margin: auto auto;
        display: block;
}   
.three-photo .pho h3{
        margin: 20px 0;
}
.three-photo .pho p{
        padding-right:  225px;
        padding-left:  225px;
}   
/* end first photo section*/

/* start 1*photo&text 50% */
.second{
    display: grid;
     grid-template-columns: 550px ;
     justify-content: center;
     margin-top: 20px;
}

 .second .pic img{
        width: 550px; 
        height: 450px;
     }

.second .half{
    height: 500px;
}
.second .tex {
    padding-top: 75px;
}
/* end 1*photo&text 50% */  

/*start four divs */

.third{
 
    grid-template-columns: 490px ;
    grid-gap: 50px ;
    justify-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.third .part img {
    max-width: 450px;
}
.third .part3 h2 {
    padding-top: 20px;
}
.third .part3 {
    padding-right: 35px;
}


/*end four divs */

/*start fourth*/
.second .pic{
    margin-top:60px ;
    height: 500px;
}
.four .left {
    padding-left: 90px;
}
/*end fourth*/

/*  last section & contact */
.content{
    margin: 50px 0px 70px 150px;
    flex-wrap: wrap;
}
.content label{
    width: 100%;
}

.content .map{
    width: 100%;
    padding-left: 10px;
    padding-top: 50px;
}

/*footer*/

.footer h2{ letter-spacing: .1em; font-size: 1.6em;}

.footer h4{
    right: 10px;
    font-size: .9em;
}
.footer .icon{
    left: 10px
}
.footer ul,li{
    margin: 0 3px;
}
/*end footer*/

}

 /* -----tab----- */

@media (min-width:993px) and (max-width:1200px) {
/*start navbar*/
#logo{
    font-size: 26px;
    margin: auto auto;
}
#ul{
    border-top: 2px solid #e02121;
    width: 100%;
}    
/*end navbar*/

/* start first photo section*/
.three-photo{
    margin: 0 165px 50px 165px;    
}
.three-photo .pho img{max-width: 300px;}

/* end first photo section*/

/* start 1*photo&text 50% */

.second{
    display: grid;
     grid-template-columns: 650px ;
     justify-content: center;
     margin-top: 20px;
}

 .second .pic img{
        width: 650px; 
        height: 400px;
     }

.second .half{
    height: 380px;
}
.second .tex {
    padding-top: 75px;
}
/* end 1*photo&text 50% */

/*start four divs */

.third{
 
    grid-template-columns: 430px 430px ;
    grid-gap: 50px 30px ;
    justify-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.third .part img {
    max-width: 420px;
}
.third .part3 h2 {
    padding-top: 20px;
}
.third .part3 {
    padding-right: 35px;
}

/*end four divs */

/*start fourth*/
.second .pic{
    margin-top:50px ;
    height: 450px;
}
.four .left {
    padding-left: 90px;
}
/*end fourth*/

/*  last section & contact */
.content{
    margin: 50px 0px 70px 240px;
    flex-wrap: wrap;
}
.content label{
    width: 100%;
}

.content .map{
    width: 100%;
    padding-left: 10px;
    padding-top: 50px;
}
/*end contact*/
}